html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: sans-serif;
}
header h1 {
  background-color: rgb(255, 183, 0);
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
/* ===================================================== */
#btn-hamburger {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
/* ===================================================== */
.sidepanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  flex-wrap: nowrap;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  height: 100vh;
  width: 0;
  background-color: rgba(0, 0, 0, 0.685);
  transition: ease .3s;
}
.sidepanelOpen {
  width: 100vw;
}
.sidepanel a {
  text-align: center;
  font-size: 2em;
  color:  rgb(255, 183, 0);
  text-decoration: none;
  padding: 3vh 0;
  transition: ease .3s;
}
.sidepanel a:hover {
  background-color: rgb(255, 183, 0);
  color: black;
}
/* ===================================================== */
#section-1,#section-2,#section-3,#section-4,#section-5  {
text-align: center;
height: 100vh;
padding: 20px 0;
}
span {
  margin-left: 7px;
}